<div >

    <div>
        <input type="text" ng-model="searchString" placeholder="Enter your search string" />
        <input ng-click="search(searchString)" type="button" value="Search" />
        <span>Sort order: </span>
        <select class="input-sm" ng-model="sortOrder"
                ng-options="o.v as o.n for o in [{ n: 'Ascending', v: false }, { n: 'Descending', v: true }]"></select>

        <a class="btn btn-primary" href="#/cat">Add cat</a>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Votes</th>
            <th>Clicks</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr ng-click="click(cat.id)" ng-repeat="cat in cats | orderBy : name : sortOrder">
                <td>{{cat.name}}</td>
                <td>{{cat.votes+0}}</td>
                <td>{{cat.number}}</td>
                <td><img class="sign" ng-if="cat.click" src="img/download.png" /></td>

            </tr>
        </tbody>
    </table>


    <div>
        <table class="table" ng-if="currentCat">
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Number of votes</th>
            </tr>
            <tr>
                <td>{{currentCat.name}}</td>
                <td><img ng-src="{{currentCat.image}}" /></td>
                <td>
                    <input type="number" min="1" max="1000" ng-model="currentCat.votes">
                </td>

            </tr>
            <tr></tr>
        </table>
    </div>
</div>

